#participacion{
    display: flex;
    background-color: #fff; /* Color de fondo blanco, como el papel */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave en la parte inferior */
    border: 1px solid #ccc; /* Borde ligero */
    padding: 20px; /* Relleno interno para el contenido */
}


form {
    padding: 12px;
}

label {
    font-family: Arial;
    font-size: 18px;
    margin-top: 10px;
}

#sorteos{
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}
